* {
    box-sizing: border-box;
}
.weather {
    width: 1518px;
    height: 982px;
    background-color: #B5D6D6;
}
.rains {
    position: relative;
    width: 1310px;
    height: 238px;
    top: 35px;
    left: 106px;
    background-image: url('../imgs/Rains.png');
    background-size: cover;
}
.date-loc {
    position: relative;
    width: 149px;
    height: 46px;
    top: 80px;
    left: 473px;
    gap: 6px;
}
#date {
    width: 118px;
    height: 20px;
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #474747;
}
#loc {
    width: 235px;
    height: 20px;
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #474747;
    padding: 26px 0px;
}
.temperature {
    position: relative;
    width: 76px;
    height: 40px;
    top: 50px;
    left: 751px;
    color: #474747;
}
.temperature span {
    font-family: 'Josefin Sans';
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: #474747;
}
.clouds {
    position: relative;
    width: 1518px;
    height: 285px;
    top: -20px;
    background-image: url('../imgs/Clouds.png');
    background-size: cover;
}
.rainy-girl {
    position: relative;
    width: 168px;
    height: 155px;
    left: 675px;
    background-image: url('../imgs/rainy\ girl.gif');
    background-size: cover;
}
#today {
    position: relative;
    width: 185px;
    height: 60px;
    top: 70px;
    left: 663px;
    gap: 8px;
}
#today h1 {
    width: 185px;
    height: 28px;
    font-family: 'Josefin Sans';
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #474747;
}
#today h4 {
    position: relative;
    left: 48.5px;
    top: -10px;
    width: 98px;
    height: 24px;
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #474747;
}
.forecast {
    position: relative;
    width: 1518px;
    height: 421px;
    top: -111px;
    border-radius: 60px 60px 0px 0px;
    background: #F5F9F9;
}
.cont {
    width: 1412px;
    height: 70px;
}
.yesterday {
    position: relative;
    width: 129px;
    height: 28px;
    top: 25px;
}
#prev {
    width: 99px;
    height: 22px;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: left;
    color: #474747;
    border: none;
    background-color: #F5F9F9;
    position: relative;
    left: 80px;
    top: 10px;
}
.fa-angle-left {
    width: 28px;
    height: 28px;
    font-size: 28px;
    position: relative;
    left: 50px;
    top: 35px;
}
#now {
    width: 63px;
    height: 22px;
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: left;
    color: #474747;
    position: relative;
    top: 38px;
    left: 727px;
}
.fa-circle {
    width: 8px;
    height: 8px;
    font-size: 8px;
    border-radius: 50%;
    background-color: #474747;
    position: relative;
    left: 756px;
    top: 60px;
}
.tomorrow {
    position: relative;
    width: 124px;
    height: 28px;
    top: 25px;
}
#next {
    width: 97px;
    height: 22px;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: left;
    color: #474747;
    border: none;
    background-color: #F5F9F9;
    position: relative;
    right: -1288px;
    top: -30px;
}
.fa-angle-right {
    width: 28px;
    height: 28px;
    font-size: 28px;
    position: relative;
    right: -1400px;
    top: -55px;
}
#next:hover, #prev:hover {
    text-decoration: underline;
}
#weather-hour {
    position: relative;
    width: 762px;
    height: 169px;
    top: 113px;
    left: 375px;
    border-radius: 44px;
    display: flex;
    justify-content: space-between;
}
.weather-info {
    width: 74px;
    height: 150px;
    padding: 28px 22px;
    gap: 16px;
    border-radius: 44px;
    display: flex;
    flex-direction: column;
    background-color: #E5F2F2;
    border: 1px solid #B5D6D6;
}
/* Before switch to javascript
.weather-info:hover {
    position: relative;
    top: -19px;
    background-color: #FEE68B;
    border: 1px solid #FBDC64;
} */
.hour {
    width: 38px;
    height: 14px;
    font-family: 'Josefin Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #474747;
}
.icon {
    width: 32px;
    height: 32px;
    padding: 2px 0px;
    font-size: 25px;
}
.temp {
    width: 31px;
    height: 16px;
    border: 1px;
    font-family: 'Josefin Sans';
    font-size: 12.5px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #474747;
}

@media (min-width: 640px) {
    .weather {
        width: 768px;
    }
    .rains {
        width: 556px;
    }
    .rainy-girl {
        left: 300px;
    }
    .clouds {
        width: 768px;
    }
    .forecast {
        width: 768px;
    }
}
@media (min-width: 768px) {
    .weather {
        width: 1024px;
    }
    .rains {
        width: 812px;
    }
    .rainy-girl {
        left: 428px;
    }
    .clouds {
        width: 1024px;
    }
    .forecast {
        width: 1024px;
    }
}
@media (min-width: 1024px) {
    .weather {
        width: 1280px;
    }
    .rains {
        width: 1068px;
    }
    .rainy-girl {
        left: 556px;
    }
    .clouds {
        width: 1280px;
    }
    .forecast {
        width: 1280px;
    }
}
@media (min-width: 1280px) {
    .weather {
        width: 1518px;
    }
    .rains {
        width: 1310px;
    }
    .rainy-girl {
        left: 675px;
    }
    .clouds {
        width: 1518px;
    }
    .forecast {
        width: 1518px;
    }
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/josefin-sans/JosefinSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/josefin-sans/JosefinSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/josefin-sans/JosefinSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/josefin-sans/JosefinSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/josefin-sans/JosefinSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
